/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* generics */

.container {
    max-width: 1200px;
    margin: auto;
}

.float-left {
    float: left;
}

.clearfix::after {
content: '';
display: table;
clear: both;
}

.wht-txt {
    color: white;
}

.gr-txt {
    color: lightgrey;
}
/* header */

.hdr {
    margin-top: 5px;
    margin-bottom: 30px;
}

#logo{
    height: 70px;
}

header li {
    display: inline-block;
    color: lightgrey;
    font-size: 20px;
    margin: 50px 20px 0 0;
}
/* main */

.main-content {
    height: 500px;
    margin: 30px auto;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/banner.jpg);
    background-position: center;
    border-radius: 15px;
}

.main-description {
    padding-top: 320px;
    padding-left: 40px;
}

.main-description p {
font-size: 17px;
padding-top: 5px;
}
   
.main-description h1 {
font-size: 35px;
}

.sezione2 {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.row {
    height: 80px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 15px;
}

.row p {
    font-size: 17px;
    }
       
    .row h1 {
    font-size: 35px;
    }

.slim-column {
    width: 20%;
}

.col-img1 {
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/img-1.jpg);
    background-size: 100%;
    background-position: center;
    border-radius: 15px;
}

.col-content {
    padding-top: 30px;
}

.col-content h3 {
font-weight: 100;
} 

.col-content p {
    padding-top: 15px;
    font-size: 18px;
    line-height: 130%;
}

.col-img3 {
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/img-3.jpg);
    background-size: 125%;
    background-position: center;
    border-radius: 15px;
}

.large-colum {
    height: 630px;
    width: calc(60% - 40px);
    margin: auto 20px;
}

.col-img2 {
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/banner-2.jpg);
    background-size: 100%;
    background-position: center;
    border-radius: 15px;
}

/* footer */

.ftr {
    height: 60px;
    background-color: rgb(174, 0, 255);
}